
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Seach product","Search","Product")

<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var item in ViewBag.result)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
        </tr>
    }
</table>